@{
    Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Add an ingredient to this recipe, ya bing bong ping pong ding dong.</h2>

<h4>Add a ingredient to: @Html.DisplayFor(model => model.RecipeName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RecipeId)
    @Html.Label("Select an Ingredient")
    @Html.DropDownList("IngId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to your recipe", "Details", new {id = Model.RecipeId})</p>